.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
}

#tech4g {
}

.navbar-toggler-icon {
  color: white;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: rgb(255,245,0);
}

.btn-group-vertical > .btn.active, .btn-group-vertical > .btn:active, .btn-group-vertical > .btn:focus, .btn-group > .btn.active, .btn-group > .btn:active, .btn-group > .btn:focus {
  background-color: rgb(255,168,0);
  box-shadow: rgb(255,184,0);
}

#tech4g {
}

#tech4g {
}

.active-button {
  background-color: rgb(255,153,0);
}

.notactive-button {
  background-color: rgb(0,123,255);
}

